nav {
  justify-content: center !important;
}

#mapid {
  height: 80vh;
}

#map-container {
  height: 80vh;
}

button:focus,
button:hover,
input:focus,
input:hover {
  outline: none !important;
  box-shadow: none !important;
}

.leaflet-tooltip{
  width: 300px !important;
  white-space: normal !important;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

.custom-div-icon i.awesome {
  margin: 12px auto;
  font-size: 17px;
}

.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
 }


.custom-div-icon i {
   position: absolute;
   width: 22px;
   font-size: 22px;
   left: 0;
   right: 0;
   margin: 10px auto;
   text-align: center;
}

.legend {
  padding: 7px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

