nav {
  justify-content: center !important;
  height: 50px !important;
  line-height: 50px !important;
}

.navbar {
  background-color: white !important;
}

#mapid {
  height: 500px;
}

#map-container {
  height: 500px; 
}

button:focus,
button:hover,
input:focus,
input:hover {
  outline: none !important;
  box-shadow: none !important;
}

.leaflet-tooltip{
  width: 300px !important;
  white-space: normal !important;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

.custom-div-icon i.awesome {
  margin: 12px auto;
  font-size: 17px;
}

.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
 }


.custom-div-icon i {
   position: absolute;
   width: 22px;
   font-size: 22px;
   left: 0;
   right: 0;
   margin: 10px auto;
   text-align: center;
}

.legend {
  padding: 7px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legendIcon {
  display: inline-block;
  border-radius: 50%;
  padding: 0.5em 0.5em;
}

.nav-wrapper {
  background-image: linear-gradient( 135deg, #73ab84 10%, #74a57f 100%); 
}

.brand-logo {
  font-size: 24px !important;
  font-weight: 600 !important;
  margin: 0 auto;
}

span {
  color: #212529;
}

i.textile {
  color: #4281a4;
}

.leaf {
  color: #70a288;
}

.foodscrap {
  color: #b2967d;
}

.electronics {
  color: #d80032; 
}

.pharmaceutical {
  color: #f4acb7;
}


.number {
  font-weight: 700;
  font-size: 2rem;
}

.cardSpace {
  margin-top: 1rem !important;
}

@media only screen and (max-width: 768px) {
  .brand-logo {
    font-size: 16px !important;
    font-weight: 600 !important;
  }
  .cardSpace {
    margin-top: 0.5rem !important; 
  }
}